.book-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
  }
  .search-bar {
    width: 60%;
    padding: 10px;
    margin: 20px auto;
    display: block;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .no-results {
    text-align: center;
    font-size: 1.2rem;
    color: #777;
    margin-top: 20px;
  }